@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
}

.coverImg{
	border-radius: 50%;
	height: 10vh;
	width: 10vh;
	margin: 0 2rem 0 0;
}

@media (max-width: 1024px) {
	.grid-cols-4 {
	  grid-template-columns: repeat(3, 1fr);
	}
  }
  
  @media (max-width: 768px) {
	.grid-cols-4 {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  
  @media (max-width: 480px) {
	.grid-cols-4 {
	  grid-template-columns: 1fr;
	}
  }


  #dev-bar-hitbox-below {
    height: 16px;
    display: none;
}

.ogImg2{
	height: 40vh;
	width: 40vh;
}

#music {
  margin: 2em auto;
  padding: 0.1em 0.5em;
  max-width: 300px;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  background-color: var(--primary-color);
  border-radius: 1em;

  p {
    margin: 0.25em;
    color: var(--background-color-secondary);
  }
}



.blogs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 80vh; /* Ajusta la altura máxima del contenedor según tus necesidades */
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  margin: 10px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 5px;
}

.card p {
  margin-bottom: 15px;
}

.card button {
  background-color: #f05050;
  color: #ffefef;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #d94646;
}

.card img {
  width: 30%;
  height: 90px;
}

.image {
  display: flex;
  justify-content: center;
}

.card h3 {
  color: #1b1b1b;
}

@media (max-width: 768px) {
  section {
      flex-direction: column;
      align-items: center;
      overflow: auto;
      max-height: 80vh; /* Ajusta la altura máxima del contenedor según tus necesidades */
  }

  .card {
      width: 90%;
      margin: 10px 0;
  }
}