---
// import aboutImg from "images/omi.png";
import PageLayout from "@/layouts/Base.astro";
// import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			I work as a software developer for a cfocused on provide stylish and functional 
			user interface with the usage of technologies like Angular, React and Vue. 
			I Also code a bit on the back-end and server side.
			I consider myself creative and self-learner, science supporter, 
			love to produce music and coding. I use to build my own tools and gadgets to create sound.

		</p>
		<div class="flex justify-center">
			<img
				class="ogImg2"
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				fetchpriority="high"
				loading="eager"
				src="https://media.licdn.com/dms/image/C5603AQEeZvijUVr_RQ/profile-displayphoto-shrink_800_800/0/1625505575404?e=1726704000&v=beta&t=4RFwJ72PTEBtMGoaFRPqk9SXpCeEf8_9u1iRWeOcI3I"
			/>
		</div>
		<p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
		<p>
			Clone or fork my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noopener noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>
	</div>
</PageLayout>
