---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
// import NowPlaying from "../../LastPlay.jsx"
import Summary from "@/components/Summary.astro"
import MyBlogs from "@/components/MyBlogs.astro";


const MAX_POSTS = 20;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Build large-scalable and powerful websites, faster.",
		href: "https://angular.dev/",
		title: "Angular",
	},
	{
		desc: "Material Design components for Angular.",
		href: "https://material.angular.io/",
		title: "Angular Material",
	},
	{
		desc: "Usage of version managers.",
		href: "https://git-scm.com/",
		title: "Git",
	},
	{
		desc: "Powerful, extensible, and feature-packed frontend toolkit.",
		href: "https://getbootstrap.com/",
		title: "Bootstrap",
	},
	{
		desc: "Main three technologies for web development.",
		href: "https://developer.mozilla.org/es/docs/Web/HTML",
		title: "HTML / CSS / JS",
	},
	{
		desc: "TypeScript: Enhanced tooling for scalable JavaScript development.",
		href: "https://www.typescriptlang.org/",
		title: "Typescript",
	},
	{
		desc: "Build faster dinamic and statics websites.",
		href: "https://astro.build",
		title: "Astro",
	},
	{
		desc: "CI/CD for GitHub repositories.",
		href: "https://vercel.com/",
		title: "CI/CD",
	}
];



---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<Summary />
		<SocialList />
		<!-- <NowPlaying /> -->

	</section>

	<h2 class="title mt-16">Projects</h2>
	<section class="blogs m-4">
		
		<MyBlogs />
	</section>

	<section class="mt-16 margin-mobile">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>

	<a
	class="containerCV" href="https://github.com/user-attachments/files/19453052/OmarGaxiolaCV_2025.pdf">
		<button class="ogbutton">Download CV</button>
	</a>

	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl m-4" >Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>

</PageLayout>
