---
import PageLayout from "@/layouts/Base.astro";
// import { Image } from "astro:assets";

const meta = {
	description: "This is where i share all my personal projects",
	title: "Projects",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Music </h1>
		<p>
            Renders and interesting videos:

            I'll leave few LP links and many valuable resources.
		</p>

		<div class="flex flex-col items-center space-y-4">
			<img
			  alt="First Image"
			  src="https://github.com/user-attachments/assets/021eef85-4f23-410a-851d-f6fffba1d8c8"
			/>
			<img
			alt="Sixth Image"
			src="https://github.com/user-attachments/assets/0c4ebb4e-7e0a-4acd-943c-21da8cdde4c5"
		  />
			<img
			  alt="Third Image"
			  src="https://github.com/user-attachments/assets/25bf7f96-b924-4342-8b3e-b9775e5cf65c"
			/>


		  </div>
		  

		  <div style="padding:66.67% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/474775047?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="PCB 360"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
		
	</div>
</PageLayout>
