---
import PageLayout from "@/layouts/Base.astro";
// import { Image } from "astro:assets";

const meta = {
	description: "Here is where i drop all my multimedia rendered scenes.",
	title: "Video",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Music </h1>
		<p>
            Renders and interesting videos:

            I'll leave few LP links and many valuable resources.
		</p>
		<iframe width="700" height="420" src="https://www.youtube.com/embed/K1BvSbTdm0s?si=S3IEZwj1smjRvc33" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		<iframe width="700" height="380" src="https://www.youtube.com/embed/cZ4zxfRkdE0?si=Ulvm4Pb0UlmfxeGw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

		<div style="padding:56.39% 0 0 0;position:relative;"><iframe 
			src="https://player.vimeo.com/video/459076064?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
			frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" 
			title="collition_n00001-1000"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>


		<div style="padding:56.25% 0 0 0;position:relative;"><iframe 
			src="https://player.vimeo.com/video/995542870?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
			frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" 
			title="beane-sabine"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>


		<!-- <p>
			Clone or fork my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/omarigg04/light-portfolio"
				rel="noopener noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p> -->
	</div>
</PageLayout>
