<!-- ---
import type { SiteMeta } from "@/types";

// import { siteConfig } from "@/site-config";

import "../styles/global.css";

type Props = SiteMeta; -->

<!-- // const { articleDate, description, ogImage, title } = Astro.props;

// const titleSeparator = "•";
// const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`;
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// const socialImageURL = new URL(ogImage ? ogImage : "/social-card.png", Astro.url).href;
--- -->



<section class="flex m-4">
    <div class="card m-4">
        <div class="image">
            <img src="https://assets.playgroundai.com/e846dd44-9874-40dc-a9bf-4fa0b8e7e291.jpg" class="card-image" alt="Logo del sitio">
        </div>
        <h3>The Jr Dev</h3>
        <!-- <p>This is my personal blog where i write about tech and web development tutorials. </p> -->
        <a href="https://thejrdev.online">
            <button>Visitar</button>
        </a>
    </div>

    <div class="card m-4">
        <div class="image">
            <img src="https://assets.playgroundai.com/b835ca87-8e4d-48d5-a245-ef4752e62ec6.jpg" class="card-image" alt="Logo del sitio">
        </div>
        <h3>Archivo Culinario</h3>
        <!-- <p>Diverse Culinary Recipe Archive. </p> -->
        <a href="https://www.nuestrolibroderecetas.site/">
            <button>Visitar</button>
        </a>
    </div>

    <div class="card m-4">
        <div class="image">
            <img src="https://github.com/user-attachments/assets/18ab11f9-a0d9-4c17-9e89-10cc063797b2" class="card-image" alt="Logo del sitio">
        </div>
        <h3>Social App</h3>
        <!-- <p>Diverse Culinary Recipe Archive. </p> -->
        <a href="https://social-app-frontend-delta.vercel.app/">
            <button>Visitar</button>
        </a>
    </div>
</section>
