<!-- ---
import type { SiteMeta } from "@/types";

// import { siteConfig } from "@/site-config";

import "../styles/global.css";

type Props = SiteMeta; -->

<!-- // const { articleDate, description, ogImage, title } = Astro.props;

// const titleSeparator = "•";
// const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`;
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// const socialImageURL = new URL(ogImage ? ogImage : "/social-card.png", Astro.url).href;
--- -->



<body>

    <div class="card">
        <div class="image">
            <img src="https://assets.playgroundai.com/e846dd44-9874-40dc-a9bf-4fa0b8e7e291.jpg" class="card-image" alt="Logo del sitio">
        </div>
        <h3>The Jr Dev</h3>
        <p>This is my personal blog where i drop interesting stuff around tech and mini tutorials about web development. </p>
        <button > <a href="https://thejrdev.online">Visita el sitio</a></button>
    </div>

</body>
