<!-- ---
import type { SiteMeta } from "@/types";

// import { siteConfig } from "@/site-config";

import "../styles/global.css";

type Props = SiteMeta; -->

<!-- // const { articleDate, description, ogImage, title } = Astro.props;

// const titleSeparator = "•";
// const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`;
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// const socialImageURL = new URL(ogImage ? ogImage : "/social-card.png", Astro.url).href;
--- -->



<section class="flex m-4 myBlogs">
    <div class="card m-4">
        <div class="image">
            <img src="https://github.com/user-attachments/assets/94dba48e-c91c-4815-a967-910f78382ac2" class="card-image" alt="Logo del sitio">
        </div>
        <h3>The Jr Dev</h3>
        <!-- <p>This is my personal blog where i write about tech and web development tutorials. </p> -->
        <a href="https://thejrdev.online">
            <button>Visit</button>
        </a>
    </div>

    <div class="card m-4">
        <div class="image">
            <img src="https://github.com/user-attachments/assets/faa74253-dfdc-418e-b7d3-ca73a88126ca" class="card-image" alt="Logo del sitio">
        </div>
        <h3>Archivo Culinario</h3>
        <!-- <p>Diverse Culinary Recipe Archive. </p> -->
        <a href="https://www.nuestrolibroderecetas.site/">
            <button>Visit</button>
        </a>
    </div>

    <div class="card m-4">
        <div class="image">
            <img src="https://github.com/user-attachments/assets/18ab11f9-a0d9-4c17-9e89-10cc063797b2" class="card-image" alt="Logo del sitio">
        </div>
        <h3>Social App</h3>
        <!-- <p>Diverse Culinary Recipe Archive. </p> -->
        <a href="https://auth-supabase-frontend.vercel.app/">
            <button>Visit</button>
        </a>
    </div>
    <div class="card m-4">
        <div class="image">
            <img src="https://github.com/user-attachments/assets/d85739a3-3402-4acc-a037-364e17bd8fb1" class="card-image" alt="Logo del sitio">
        </div>
        <h3>Piano Scale</h3>
        <!-- <p>Diverse Culinary Recipe Archive. </p> -->
        <a href="https://musical-grid-git-main-oiggs-projects.vercel.app/">
            <button>Visit</button>
        </a>
    </div>

    <div class="card m-4">
        <div class="image">
            <img src="https://github.com/user-attachments/assets/4b80c6ff-6996-4d80-afc0-491c9b7e588a" class="card-image" alt="Logo del sitio">
        </div>
        <h3>Git Poster</h3>
        <!-- <p>Diverse Culinary Recipe Archive. </p> -->
        <a href="https://og-git-poster.vercel.app/">
            <button>Visit</button>
        </a>
    </div>
    
</section>

