<section>
    <h1 class="title mb-6">Fullstack Developer & Digital Craftsman</h1>
    <p class="mb-4">
    I’m a passionate software and music producer with a strong foundation in electronics engineering, blending creativity and technical expertise to craft innovative digital experiences. With 5 years of experience in Frontend and 3 years in Backend, I specialize in building user-centric, responsive, and high-performance web applications using Angular, React, and Vue.
    On the backend, I work with NestJS, Express, and relational databases, while leveraging AWS services such as S3 for scalable storage, RDS for reliable database management, and EC2 for flexible deployment and infrastructure. I’m driven by the challenge of solving complex problems while enhancing workflows and user experiences.
    Beyond code, I explore the intersection of technology and music, seeking new ways to streamline creative processes and push artistic boundaries.


    </p>
  
  </section>
    
    <script>
      import dayjs from "dayjs";
    
      const calculateAge = () => {
        return dayjs().diff(dayjs("1996-10-04"), "year", true).toFixed(9);
      };
    
      document.getElementById("dyn_age")!.innerText = calculateAge();
    
      setInterval(() => { 
        const dynAgeElement = document.getElementById("dyn_age");
        if (dynAgeElement) {
          dynAgeElement.innerText = calculateAge();
        }
      }, 50);
    
    </script>
