<section>
    <h1 class="title mb-6">Software Enginer / Music Producer</h1>
    <p class="mb-4">
      I'm a <span id="dyn_age"></span> years old electronics engineer focused on software with deep interest on the music, my focus is to bring new approaches 
      to improve the creative thinking, our workflow and explore new ways to experience art.
      Right now im designing and implementing user friendly responsive and highly performant web 
      applications using Angular and other web framworks. 
    </p>
  
  </section>
    
    <!-- <script>
      import dayjs from "dayjs";
    
      const calculateAge = () => {
        return dayjs().diff(dayjs("1996-10-04"), "year", true).toFixed(9);
      };
    
      document.getElementById("dyn_age")!.innerText = calculateAge();
    
      setInterval(() => { 
        const dynAgeElement = document.getElementById("dyn_age");
        if (dynAgeElement) {
          dynAgeElement.innerText = calculateAge();
        }
      }, 50);
    
    </script> -->