<section>
    <h1 class="title mb-6">Fullstack Developer & Digital Craftsman</h1>
    <p class="mb-4">
    I’m a passionate software and music producer with a strong foundation in electronics engineering, blending creativity and technical expertise to craft innovative digital experiences. With 5 years of experience in Frontend and 3 years in Backend, I specialize in building user-centric, responsive, and high-performance web applications using Angular, React, and Vue.
    On the backend, I work with NestJS, Express, and relational databases, while leveraging AWS services such as S3 for scalable storage, RDS for reliable database management, and EC2 for flexible deployment and infrastructure. I’m driven by the challenge of solving complex problems while enhancing workflows and user experiences.
    Beyond code, I explore the intersection of technology and music, seeking new ways to streamline creative processes and push artistic boundaries.


    </p>
  
  </section>
    
    <script>
      import dayjs from "dayjs";
    
      const calculateAge = () => {
        return dayjs().diff(dayjs("1996-10-04"), "year", true).toFixed(9);
      };
    
      document.getElementById("dyn_age")!.innerText = calculateAge();
    
      setInterval(() => { 
        const dynAgeElement = document.getElementById("dyn_age");
        if (dynAgeElement) {
          dynAgeElement.innerText = calculateAge();
        }
      }, 50);
    
    </script>

    <h2 class="title mb-6">Fullstack Developer & Digital Craftsman</h2>

<div align="left">
  <img src="https://skillicons.dev/icons?i=html" height="40" alt="html5 logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=css" height="40" alt="css3 logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=tailwind" height="40" alt="tailwindcss logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=js" height="40" alt="javascript logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=ts" height="40" alt="typescript logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=git" height="40" alt="git logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=github" height="40" alt="github logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=nodejs" height="40" alt="nodejs logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=express" height="40" alt="express logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=nestjs" height="40" alt="nestjs logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=postgres" height="40" alt="postgresql logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=sqlite" height="40" alt="sqlite logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=firebase" height="40" alt="firebase logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=react" height="40" alt="react logo"  />
  <img width="12" />
<!--   <img src="https://skillicons.dev/icons?i=nextjs" height="40" alt="nextjs logo"  />
  <img width="12" /> -->
  <img src="https://skillicons.dev/icons?i=astro" height="40" alt="astro logo"  />
  <img width="12" />
<!--   <img src="https://skillicons.dev/icons?i=docker" height="40" alt="docker logo"  />
  <img width="12" /> -->
<!--   <img src="https://skillicons.dev/icons?i=cloudflare" height="40" alt="cloudflare logo"  />
  <img width="12" /> -->
  <img src="https://skillicons.dev/icons?i=vercel" height="40" alt="vercel logo"  />
  <img width="12" />
<!--   <img src="https://skillicons.dev/icons?i=gcp" height="40" alt="googlecloud logo"  />
  <img width="12" /> -->
  <img src="https://skillicons.dev/icons?i=figma" height="40" alt="figma logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=vscode" height="40" alt="vscode logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=linux" height="40" alt="linux logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=md" height="40" alt="markdown logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=powershell" height="40" alt="powershell logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=bash" height="40" alt="bash logo"  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=vite" height="40" alt="vite logo"  />
  <img src="https://skillicons.dev/icons?i=aws" height="40" alt="aws logo"  />
  <img width="12" />
</div>
