<section>
    <h1 class="title mb-6">Web Developer</h1>
    <p class="mb-4">
      I'm a <span id="dyn_age"></span> years old passionate software and music producer with a strong foundation in electronics engineering. 
      My goal is to innovate at the intersection of technology and music, enhancing creative processes, streamlining workflows, 
      and pioneering new ways to experience art. Currently, I am dedicated to designing and implementing user-friendly, responsive, 
      and high-performance web applications using Angular and other cutting-edge web frameworks.
    </p>
  
  </section>
    
    <script>
      import dayjs from "dayjs";
    
      const calculateAge = () => {
        return dayjs().diff(dayjs("1996-10-04"), "year", true).toFixed(9);
      };
    
      document.getElementById("dyn_age")!.innerText = calculateAge();
    
      setInterval(() => { 
        const dynAgeElement = document.getElementById("dyn_age");
        if (dynAgeElement) {
          dynAgeElement.innerText = calculateAge();
        }
      }, 50);
    
    </script>
